
* {
	box-sizing: border-box;
}

html,
body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;
}

.buttons {
	margin: 12px 0 0 0;
	
	button {
		margin: 0 6px;

		cursor: pointer;
	}
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 80%;
	height: 100%;

	margin: 32px 0;
	padding: 0;

	&__year {
		margin: 0 0 36px 0;

		font-size: 24px;

		span {
			&.-finish {
				font-size: 32px;
				font-weight: bold;
				color: red;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		width: 100%;
		height: auto;

		margin: 8px 0;
		padding: 0;

		&__title {
			min-width: 100px;

			text-align: right;
		}

		&__bar {
			margin: 0 0 0 4px;

			width: 20%;
			height: 40px;

			background-color: red;
		}

		img {
			margin: 0 6px;
			height: 24px;
		}
	}

	&__more {
		margin: 24px 0 0 0;
		cursor: pointer;
	}
}

.github {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	width: 100%;
	height: auto;

	margin: 0;
	padding: 12px 24px;

	&__button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		margin: 0;
		padding: 0.75em 1em;

		min-width: 8em;

		font-size: 1.05em;
		font-weight: 600;
		letter-spacing: 0.1em;
		text-align: center;

		background-color: #f6f6f6;
		color: #4f5959;

		border-color: #f6f6f6;
		border-radius: 2em;

		text-decoration: none;

		svg {
			width: 2em;

			margin: 0 6px 0 0;
		}
	}
}